* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: gray;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding-top: 10px;
}

.container {
    background-color: #181818;
    width: 50%;
    max-width:850px;
    margin: 0 auto;
    padding: 40px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    color: whitesmoke;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.45);
}

.card-container {
    
}

.input-container {
    
}
input {
    width: 220px;
    outline: none;
    border: none;
    padding: 2px 2px;
    background-color: whitesmoke;
    color: #181818;
}
input::placeholder {
    color: #181818;
    font-size: 14px;
}
p {
    padding-top: 20px;
}

h2 {
    padding-top: 10px;
}


input {
    border-radius: 5px;
    
}

button {
    width: 20px;
    height: 20px;
}